certifi==2022.6.15
charset-normalizer==2.0.12
click==8.0.4
decorator==5.1.1
distlib==0.3.4
docopt==0.6.2
filelock==3.6.0
idna==3.3
joblib==1.1.0
nltk==3.7
numpy==1.22.3
opencv-python==4.5.5.64
platformdirs==2.5.1
progress==1.6
regex==2022.3.15
requests==2.27.1
six==1.16.0
tqdm==4.63.1
urllib3==1.26.9
validators==0.18.2
virtualenv==20.13.3
weaviate-client==3.5.1
